<div class="row social-event-text">
  <div class="col-md-8">
    <% if socialEventFormText1 && socialEventFormText1.text %>
      <%= socialEventFormText1.text.html_safe %>
    <% else%>
      <p class="body-style-1">Join our Fraternity / Sorority / Gala / Mardi Gras Krewe / Banquet Community Partner Program & kick start your fund-raising today!</p>
      <h3>Here is how the program works:</h3>

      <ul>
        <li>We supply you with the rental discount cards and a unique event code. Put your event code on the cards, distribute them to everyone planning on attending your formal event.</li>
        <li>Al's will pay $5.00* for every tuxedo rental discount card brought in with your event code on it.</li>
      </ul>

      <h3>It really is that easy.</h3>

      <h3>But wait, there is more.</h3>

      <ul>
        <li>Al's provides Personal Service and is committed to providing your organization the best service. Our specially trained store managers are professional and ready to assist you. We are positive that you will be satisfied with our staff and merchandise.</li>
        <li>We offer promotional posters to put up that are customizable for your events.</li>
        <li>Al’s managers will come to your meetings to hand out discount cards, measure for your event rentals and even put up a display with real product for your members to see!</li>
      </ul>

      <h3>Sign Up and Let's Get Started!</h3>

      <p class="body-style-1 disclaim">* The money that is earned will be presented in the form of a check payable to your organization. For example, if 100 of your attendees redeem the Al's Formal Wear Fund-raising discount card, Al's will send your organization a check for $500!</p>
    <% end %>  
    
    <% if @user %>
      <a id="error-message-scroll"></a>
      <div class="message-wrapper"></div>
    
      <div class="row social-event-form">
        <%= form_tag('/events/create_with_group_code', remote: true, onsubmit: "_gaq.push(['_trackEvent', 'Landing Pages', 'New Social Event Fundraising', 'Social']);" ) do %>
          <%= hidden_field_tag "event[event_type]", "social event" %>
          <%= (hidden_field_tag "event[id]", "") unless @social_events %>
          <%= hidden_field_tag "event[is_group]", true %>
          <%= hidden_field_tag "form_type", "social event" %>
          <%= hidden_field_tag "social_event_fundraiser", true %>



          <div class="col-md-12 col-sm-12">
            <div class="col-md-6 col-sm-6">
              <h3>ORGANIZATION INFORMATION</h3>
            </div>
          </div>

          <div class="col-md-12 col-sm-12">
            <div class="col-md-6 col-sm-6">
              <div class="placeholder-slide"></div>
              <%= text_field_tag "event[orgname]", nil, placeholder: 'ORGANIZATION NAME', class: 'moving-placeholder' %>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="placeholder-slide"></div>
              <%= text_field_tag "event[street_address]", nil, placeholder: 'MAILING ADDRESS', class: 'moving-placeholder' %>
            </div>
          </div>

          <div class="col-md-12 col-sm-12">
            <div class="col-md-6 col-sm-6">
              <div class="placeholder-slide"></div>
              <%= text_field_tag "event[city]", nil, placeholder: 'CITY', class: 'moving-placeholder' %>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row state-zip">
                  <div class="col-md-6 col-sm-6">
                    <%= select_tag "event[state]", options_from_collection_for_select(@states, 'abbr', 'abbr'), prompt: "STATE", class: 'short-field measurement-form-field' %>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="placeholder-slide short-field"></div>
                    <%= text_field_tag "event[zip_code]", nil, placeholder: 'ZIPCODE', class: 'short-field moving-placeholder' %>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-12 col-sm-12">
            <div class="col-md-6 col-sm-6">
              <div class="placeholder-slide"></div>
              <%= text_field_tag "event[tax_id]", nil, placeholder: 'FEDERAL TAX ID (if known)', class: "fed-tax-id moving-placeholder" %>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="placeholder-slide"></div>
              <%= text_field_tag "event[referral_name]", nil, placeholder: 'REFERRAL NAME', class: 'moving-placeholder' %>
            </div>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12 in-form-line-break"></div>

          <div class="col-md-12 col-sm-12">
            <div class="col-md-6 col-sm-6">
              <h3>YOUR CONTACT INFORMATION</h3>
            </div>
          </div>

          <div class="col-md-12 col-sm-12">
            <div class="col-md-6 col-sm-6">
              <div class="placeholder-slide"></div>
              <%= text_field_tag "event[first_name]", @user.first_name || nil, placeholder: 'FIRST NAME', class: 'moving-placeholder' %>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="placeholder-slide"></div>
              <%= text_field_tag "event[last_name]", @user.last_name || nil, placeholder: 'LAST NAME', class: 'moving-placeholder' %>
            </div>
          </div>

          <div class="col-md-12 col-sm-12">
            <div class="col-md-6 col-sm-6">
              <div class="placeholder-slide"></div>
              <%= text_field_tag "event[contact_title]", nil, placeholder: 'TITLE', class: 'moving-placeholder' %>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="placeholder-slide"></div>
              <%= text_field_tag "event[contact_phone]", @user.phone_number || nil, placeholder: 'PHONE', class: "phone-number moving-placeholder" %>
            </div>
          </div>
          
          <div class="col-md-12 col-sm-12">
            <div class="col-md-6 col-sm-6">
              <%= select_tag "event[location_id]", options_for_select(@locations.collect{ |l| [ l.format_for_select, l.id ] }), prompt: "PREFERRED STORE", class: 'measurement-form-field' %>
            </div>
            <div class="col-md-6 col-sm-6"></div>
          </div>


          <div class="col-md-12 col-sm-12 col-xs-12 in-form-line-break"></div>


        <div class="col-md-12 col-sm-12">
          <div class="col-md-5 col-sm-5 col-xs-12">
            <h3>CREATE EVENT</h3>
          </div>
          <% if @social_events.present? %>
            <div class="col-md-2 col-sm-2 col-xs-12">
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <h3>SELECT EVENT</h3>
            </div>
          <% end %>
        </div>
        <div class="col-md-12 col-sm-12" style="position: relative; z-index: 100;">
          <!-- FIRST COLUMN -->  
          <div class='<%= "col-md-5" if @social_events.present? %>  <%= "col-md-6" if @social_events.blank? %> col-sm-5 col-xs-12' >
            <h3 class="<%= 'hidden' if @social_events %>">NEW EVENT</h3>
            <div class="col-md-12 col-sm-12">
              <div class="placeholder-slide"></div>
              <%= text_field_tag "event[event_name]", nil, placeholder: 'NAME YOUR EVENT', autocomplete: false, class: 'moving-placeholder' %>
            </div>
            <div class="col-md-12 col-sm-12">
              <%= text_field_tag "event[date]", nil, class: "datepicker", placeholder: "EVENT DATE", readonly: true  %>
            </div>
          </div>
          <!-- SECOND COLUMN -->
          <% if @social_events.present? %>
            <div class="col-md-2 col-sm-2 col-xs-12">
              <p class="or-separator"> - or - </p>
            </div>
            <!-- THIRD COLUMN -->
            <div class="col-md-5 col-sm-5 col-xs-12">
              <%= select_tag "event[id]", options_from_collection_for_select(@social_events, 'id', 'event_name'), { prompt: 'SELECT EVENT', class: 'measurement-form-field' } %>
            </div>
          <% end %>
        </div>

          <div class="col-md-6">
            <button type="button" class='occasion-submit-button button-primary social-event-submit-button'>SIGN UP</button>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="col-md-12 login-button-wrapper">
        <p>Please login to view details.</p>
        <%= link_to(spree.login_path( { after_login_redirect: "social-event/#social-fund" }), class: "btn button-primary login") do%>LOGIN / SIGN UP<% end %>
      </div>
    <% end %>
    <div class="occasion-showbox hidden">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
      </div>
    </div>
  </div>
</div>