
<div class="row bytheader">
	<div class="container">
		<div class="row">
			<div class="col-md-6 push_down">
				<h1>Design &amp; View Your Tux</h1>
				<a href="/catalog/byt"><button class="button-primary center-block">GET STARTED</button></a>
			</div>
			<div class="col-md-6 right_img">
				<div class="leftimg">
					<%= image_tag('spree/frontend/byt/header.png', :alt => '', class: '') %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row btySection1">
	<div class="container">
	<div class="dotted-red"></div>
		<div class="row">
			<div class="col-md-12 top-section">
				<h2>HOW DOES BUILD YOUR TUX WORK?</h2>
				<p class="body-style-1">Build Your Tux and make an appointment to pick it up at our closest Al’s location</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="icon-box">
					<a href="/catalog/byt"><%= image_tag('spree/frontend/byt/tux2.svg', :alt => '', class: 'jacket center-block') %></a>
				</div>
				<h3>1. BUILD A TUX</h3>
				<p class="body-style-1">
					Al’s collection provides you the options to mix and match any look, according to your personal style.
				</p>
			</div>
			<div class="col-md-3">
				<div class="icon-box calendar">
					<a href="/events/new"><%= image_tag('spree/frontend/byt/calendar.svg', :alt => '', class: 'calendar center-block') %></a>
				</div>
				<h3>2. CREATE AN EVENT </h3>
				<p class="body-style-1">
					Save your build by creating an event. Your event will be saved to your account for future browsing and further customization.
				</p>
			</div>
			<div class="col-md-3">
				<div class="icon-box tape-measure">
					<a href="/measurements"><%= image_tag('spree/frontend/byt/measure.svg', :alt => '', class: 'tape-measure center-block') %></a>
				</div>
				<h3>3. MEASURE &amp; FIT </h3>
				<p class="body-style-1">
					Enter your measurements with our step by step guide, or get fitted in store.
				</p>
			</div>
			<div class="col-md-3">
				<div class="icon-box">
					<a data-toggle="modal" data-target="#aptModal"><%= image_tag('spree/frontend/byt/appointment.svg', :alt => '', class: 'appointment center-block') %></a>
				</div>
				<h3>4. MAKE AN APPOINTMENT</h3>
				<p class="body-style-1">
					Have your Tuxedo or Suit ready to go at your nearest Al’s location.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<a href="/catalog/byt"><button class="button-primary center-block">START BUILDING</button></a>
			</div>
		</div>
	</div>
</div>

<div class="row btySection2">
	<div class="container">
		<div class="row">
			<div class="col-md-6 dividerH dividerV">
				<div class="row">
					<div class="col-md-8 col-md-push-2 boxes">
						<div class="icon-box icon-1">
							<a href="/measurements" class="no-padding"><%= image_tag('spree/frontend/byt/measure.svg', :alt => '', class: 'tape-measure center-block') %></a>
						</div>
						<h3>ABOUT MEASUREMENT &amp; FIT</h3>
						<p class="body-style-1">
							We understand how important the right fit is. Follow our incredibly simple step by step guide and let your worries disappear.
						</p>
						<a href="/measurements"><button class="button-secondary center-block">MEASUREMENT &amp; FIT</button></a>
					</div>
				</div>
			</div>
			<div class="col-md-6 dividerH">
				<div class="row">
					<div class="col-md-8 col-md-push-2 boxes">
						<div class="icon-box">
							<a href="/about" class="no-padding"><%= image_tag('spree/frontend/byt/time.svg', :alt => '', class: 'time center-block') %></a>
						</div>
						<h3>AVAILABILITY</h3>
						<p class="body-style-1">
							You need your Tux when you need your Tux. Find out more about the Al’s Promise below!
						</p>
						<a href="/about"><button class="button-secondary center-block">AL’S PROMISE</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 dividerV">
				<div class="row">
					<div class="col-md-8 col-md-push-2 boxes OffsetV-40">
						<div class="icon-box icon-1">
							<a href="/out-of-town-measurements" class="no-padding"><%= image_tag('spree/frontend/byt/plane.svg', :alt => '', class: 'plane center-block') %></a>
						</div>
						<h3>OUT OF TOWN MEASUREMENTS</h3>
						<p class="body-style-1">
							You or your guest can’t make it to our stores?  No Problem. Submit your measurements below.
						</p>
						<a href="/out-of-town-measurements"><button class="button-secondary center-block pushBottom">SUBMIT MEASUREMENTS</button></a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-8 col-md-push-2 boxes OffsetV-40">
						<div class="icon-box">
							<span data-toggle="modal" data-target="#aptModal"><%= image_tag('spree/frontend/byt/appointment.svg', :alt => '', class: 'appointment center-block') %></span>
						</div>
						<h3>MAKE AN APPOINTMENT</h3>
						<p class="body-style-1">
							Have your Tuxedo or Suit ready to go at your nearest Al’s location, or come in and try on your suit in person.
						</p>
						<button class="button-secondary center-block pushBottom " data-toggle="modal" data-target="#aptModal">MAKE AN APPOINTMENT</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row btySection3">
	<div class="container">
		<div class="row">
			<div class="col-md-12 top-section">
				<h2>FIND YOUR NEAREST LOCATION</h2>
				<p class="body-style-1">With multiple locations in TX, OK, LA &amp; CO, Al’s offers convenience and accessibility.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 paddingOff">
				<div id="map-canvas"></div>
				<script>

							var LocationModel = Backbone.Model.extend({
                    id: null,
                    store_num: null,
                    store_name: null,
                    street_address: null,
                    city: null,
                    state: null,
                    zip_code: null,
                    phone_number: null,
                    manager: null,
                    dist_manager: null,
                    latitude: null,
                    longitude: null,
                    mon_hours: null,
                    tues_hours: null,
                    wed_hours: null,
                    thurs_hours: null,
                    fri_hours: null,
                    sat_hours: null,
                    sun_hours: null,
                    updated_at: null
                });

                var LocationCollection = Backbone.Collection.extend({
                    url: '/locations',
                    model: LocationModel,
                    parse: function(response){
                        return response.locations;
                    }
                });

                window.allLocations = new LocationCollection();

				function initMap() {

          var medicalCenterStoreCoordinates = new google.maps.LatLng(29.6948746, -95.4154877);

          window.allLocationsMap = new google.maps.Map(document.getElementById('map-canvas'), {
              zoom: 16,
              center: medicalCenterStoreCoordinates,
              mapTypeControl: false,
              navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
              mapTypeId: google.maps.MapTypeId.ROADMAP
          });

          window.allLocationsAutocomplete = new google.maps.places.Autocomplete(
                  (document.getElementById('mapSearch')),
                  {
                      types: ['geocode'],
                      componentRestrictions: {'country': 'us'}
                  }
          );

          window.allLocationsAutocomplete.addListener('place_changed', onPlaceChanged);

          window.allLocationsInfoWindow = new google.maps.InfoWindow({
              content: '',
              maxWidth: 350
          });

          var marker_img = '<%= asset_url("spree/frontend/icons/location2.png") %>';

          window.allLocationsMarkers = [];
          window.allLocations.fetch().then(function () {
              window.allLocations.each(function (location) {
                  var storeCoordinates = new google.maps.LatLng(location.get('latitude'), location.get('longitude'));
                  var marker = new google.maps.Marker({
                      position: storeCoordinates,
                      map: window.allLocationsMap,
                      icon: marker_img,
                      title: location.get('store_name'),
                      locationID: location.id //custom key-value pair used to identify which marker was clicked
                  });
                  marker.addListener('click', function () {
                      //'this' refers to the current marker which was clicked
                      window.allLocationsInfoWindow.setContent(getInfoWindowContent(window.allLocations.get(this.locationID)));
                      window.allLocationsInfoWindow.open(window.allLocationsMap, this);
                  });
                  window.allLocationsMarkers.push(marker);
              });
              $('body').trigger('all-locations-map-initialised');
              window.allLocationsMapInitialised = true;
          });
				}
				function getInfoWindowContent(location){
          var content = '' +
                  '<div class="map-info-window-container">' +
                  '<div class="row map-store-title-container">' +
                  '<div class="col-md-6 col-xs-9 map-store-title-text">' +
                  location.get('store_name') +
                  '</div>';
          if(typeof location.get('distance') !== 'undefined'){
              content +=
                      '<div class="col-md-6 col-xs-3 map-store-distance map-store-title-text text-right">' +
                      Math.round10(location.get('distance'), -1) + ' mi' +
                      '</div>';
          }
          content += '</div>' +
                  '<div class="row map-store-information-container">' +
                  '<div class="col-md-6 col-xs-12 map-store-information-text map-store-information-first-column">' +
                  location.get('street_address') + '<br>' +
                  location.get('city') + ', ' + location.get('state') + ' ' + location.get('zip_code') +
                  '</div>' +
                  '<div class="col-md-6 hidden-xs hidden-sm map-store-information-text map-store-information-second-column">' +
                  '<div class="map-icon map-store-timings-icon"></div>' + getTodayStoreTimings(location, false) +
                  '<br>' +
                  '<div class="map-telephone-icon-container">' +
                  '<div class="map-icon map-telephone-icon"></div> <a class="map-store-information-text" href="tel:'+ location.get('phone_number') +'">' + location.get('phone_number') + '</a>' +
                  '</div>' +
                  '</div>' +
                  '<div class="col-xs-12 map-store-timings-icon-container-mobile visible-xs visible-sm map-store-information-text">' +
                  '<div class="map-icon map-store-timings-icon"></div>' + getTodayStoreTimings(location, false) +
                  '</div>' +
                  '<div class="col-xs-12 visible-xs visible-sm map-telephone-icon-container map-store-information-text">' +
                  '<div class="map-icon map-telephone-icon"></div> <a class="map-store-information-text" href="tel:'+ location.get('phone_number') +'">' + location.get('phone_number') + '</a>' +
                  '</div>' +
                  '</div>' +
                  '<div class="row">' +
                  '<div class="col-md-12 text-center">' +
                  '<a class="btn map-directions-button" href="' + location.get('google_url') +'" target="_blank">DIRECTIONS</a>' +
                  '</div>' +
                  '</div>' +
                  '</div>';
          return content;
      	}
      	function onPlaceChanged() {
            window.homepageSearchedPlace = window.allLocationsAutocomplete.getPlace();
        }

        function getTodayStoreTimings(locationID, onlyStart){
            var store = window.allLocations.get(locationID);
            var days = [
                'sun',
                'mon',
                'tues',
                'wed',
                'thurs',
                'fri',
                'sat'
            ];
            var today = new Date().getDay();
            var hours = store.get([days[today] + '_hours']);
            if(hours !== 'Closed'){
                var amPmSplit = hours.split(/\-/);
                if(onlyStart){
                    if(amPmSplit[0].trim() == "12"){
                        hours = 'Opens at ' + amPmSplit[0].trim() + ':00 pm';
                    } else {
                        hours = 'Opens at ' + amPmSplit[0].trim() + ':00 am';
                    }
                } else {
                    if(amPmSplit[0].trim() == "12"){
                        hours = amPmSplit[0].trim() + ':00 pm - ' + amPmSplit[1].trim() + ':00 pm';
                    } else {
                        hours = amPmSplit[0].trim() + ':00 am - ' + amPmSplit[1].trim() + ':00 pm';
                    }
                }
            } else {
                hours = 'Closed Today'
            }
            return hours;
        }

        function centerMaptoStore(store){
            var storeCoordinates = new google.maps.LatLng(store.get('latitude'), store.get('longitude'));
            window.allLocationsMap.setCenter(storeCoordinates);
            window.allLocationsMap.setZoom(16);
        }
        function openMapInfoWindow(store){
            window.allLocationsInfoWindow.setContent(getInfoWindowContent(store));
            var marker = _.findWhere(window.allLocationsMarkers, {locationID: store.id});
            window.allLocationsInfoWindow.open(window.allLocationsMap, marker);
        }

        function displayStoreOnMap(store){
            var center = new google.maps.LatLng(store.latitude, store.longitude);
            window.allLocationsMap.setCenter(center);
        }

        $(document).ready(function(){
            window.homepageSearchedPlace = null;
            if(typeof window.allLocationsMapInitialised === 'undefined'){
                window.allLocationsMapInitialised = false;
            }
            if(Cookies.get('neareststore') != undefined){
                displayStoreOnMap(Cookies.getJSON('neareststore'));
            } else {
                $('body').on('neareststorelocated', function(){
                    displayStoreOnMap(Cookies.getJSON('neareststore'));
                });
            }
            $('#homepage-location-search-button').on('click', function(){
                var place = window.allLocationsAutocomplete.getPlace();
                var searchTerm = encodeURIComponent($('#mapSearch').val());
                var url = '/locations/?';
                var lat = place.geometry.location.lat();
                var lng = place.geometry.location.lng();
                if(place.types[0] === 'administrative_area_level_1'){
                    var state = place['address_components'][0]['short_name'];
                    url += 'search_type=state&search_state=' + state;
                } else {
                    url += 'search_type=place';
                }
                url += '&search_term='+ searchTerm + '&search_lat=' + lat + '&search_lng=' + lng;
                window.location.href = url;
            });
        });
				</script>
			</div>
			<div class="col-md-4">
				<div class="search-map">
					<h4>SEARCH BY</h4>
					<p class="body-style-1">Not the location you’re looking for? <br class="rwd-break">Find the right one for you</p>
						 <div>
    						<input type="text" class="form-control" id="mapSearch" placeholder="CITY, STATE or ZIP">
  						</div>
  						<div>
  							<button class="button-large-secondary button-primary" id="homepage-location-search-button">SEARCH</button>
  						</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&callback=initMap&libraries=places"></script>